
@media screen and (min-width:1870px) and (max-width: 3000px) {
    
    .en_tete_titre {
        margin: 125px 0 -40px 0;
        
        font-size: 90px;
        text-transform: uppercase;
    }
    .en_tete_sous_titre {
        
        margin-bottom: 170px;
        font-size: 40px;
    }
}
@media screen and (min-width:1660px) and (max-width: 1870px) {
    
    .en_tete_titre {
        margin: 115px 0 -40px 0;
        
        font-size: 90px;
        text-transform: uppercase;
    }
    .en_tete_sous_titre {
        
        margin-bottom: 160px;
        font-size: 40px;
    }
}
@media screen and (min-width:800px) and (max-width: 1660px) {
	
    .en_tete_titre {
        margin: 110px 0 -40px 0;
        
        font-size: 90px;
        text-transform: uppercase;
    }
    .en_tete_sous_titre {
        
        margin-bottom: 150px;
        font-size: 40px;
    }
}
@media all and (max-width: 800px) {
    
    .en_tete_titre {
        margin: 100px 0 -40px 0;
        
        font-size: 90px;
        text-transform: uppercase;
    }
    .en_tete_sous_titre {
        
        margin-bottom: 140px;
        font-size: 40px;
    }
}