
@media screen and (min-width:1870px) and (max-width:3000px) {
    
    .en_tete_titre {
        margin: 125px 0 -40px 0;
        
        font-size: 90px;
        text-transform: uppercase;
    }
    .en_tete_sous_titre {
        
        margin-bottom: 170px;
        font-size: 40px;
    }
}
@media screen and (min-width:1660px) and (max-width:1870px) {
    
    .en_tete_titre {
        margin: 115px 0 -40px 0;
        
        font-size: 90px;
        text-transform: uppercase;
    }
    .en_tete_sous_titre {
        
        margin-bottom: 160px;
        font-size: 40px;
    }
}
@media screen and (min-width:1450px) and (max-width:1660px) {
	
    .en_tete_titre {
        margin: 80px 0 -40px 0;
        
        font-size: 85px;
        text-transform: uppercase;
    }
    .en_tete_sous_titre {
        
        margin-bottom: 145px;
        font-size: 40px;
    }
}
@media screen and (min-width:1230px) and (max-width:1450px) {
	
    .en_tete_titre {
        margin: 80px 0 -40px 0;
        
        font-size: 85px;
        text-transform: uppercase;
    }
    .en_tete_sous_titre {
        
        margin-bottom: 100px;
        font-size: 40px;
    }
}
@media screen and (min-width:1000px) and (max-width:1230px) {
	
    .en_tete_titre {
        margin: 80px 0 -40px 0;
        
        font-size: 65px;
        text-transform: uppercase;
    }
    .en_tete_sous_titre {
        
        margin-bottom: 100px;
        font-size: 35px;
    }
}
@media all and (max-width: 1000px) {
    
    .en_tete_titre {
        margin: 60px 0 -40px 0;
        
        font-size: 70px;
        text-transform: uppercase;
    }
    .en_tete_sous_titre {
        
        margin-bottom: 75px;
        font-size: 35px;
    }
}