
@media all and (min-width:1870px) {  
	h2 {
		font-size: 40px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
        margin: 0 80px 0 100px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
            }
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				justify-content: space-between ;
				width: 100%;
			}
				.formation_date{
					font-weight: bolder;
					margin: 0px 1% 0 0;
					width: 30%;
				}
				.ecole {
					margin-left: -5px;
					width: 70%;
				}
					.societe {
						margin:0 0 10px ;
						font-size: 25.5px;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						font-size: 22px;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
						font-size: 20px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 70px;
					}
	.block_recommandation {
		display: flex;
		justify-content: space-between;
        margin: 35px 20% 20px 0;
        font-size: 1.4em;
	}
		.recommandation_sous_titre {
			margin: 12px 0 ;
		}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;
			font-size: 22px;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.visible_max_screen {
		display: none;
	}
}

@media screen and (min-width:1660px) and (max-width: 1870px) {  
	h2 {
		font-size: 40px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
        margin: 0 70px 0 80px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
            }
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				justify-content: space-between ;
				width: 100%;
			}
				.formation_date{
					font-weight: bolder;
					margin: 0px 1% 0 0;
					width: 30%;
				}
				.ecole {
					margin-left: -5px;
					width: 70%;
				}
					.societe {
						margin:0 0 10px ;
						font-size: 25.5px;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						font-size: 22px;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
						font-size: 20px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 70px;
					}
	.block_recommandation {
		display: flex;
		justify-content: space-between;
        margin: 35px 17% 20px 0;
        font-size: 1.4em;
	}
		.recommandation_sous_titre {
			margin: 12px 0 ;
		}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;
			font-size: 22px;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.visible_max_screen {
		display: none;
	}
}
@media screen and (min-width:1450px) and (max-width: 1660px) {  
	h2 {
		font-size: 40px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
        margin: 0 70px 0 80px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
            }
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				justify-content: space-between ;
				width: 100%;
			}
				.formation_date{
					font-weight: bolder;
					margin: 0px 1% 0 0;
					width: 30%;
				}
				.ecole {
					margin-left: -5px;
					width: 60%;
				}
					.societe {
						margin:0 0 10px ;
						font-size: 25.5px;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						font-size: 22px;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
						font-size: 20px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 70px;
					}
	.block_recommandation {
		display: flex;
		justify-content: space-between;
        margin: 35px 16% 20px 0;
        font-size: 1.4em;
	}
		.recommandation_sous_titre {
			margin: 12px 0 ;
		}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;
			font-size: 22px;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.visible_max_screen {
		display: none;
	}
}
@media screen and (min-width:1230px) and (max-width: 1450px) {  
	h2 {
		font-size: 35px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
        margin: 0 70px 0 80px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
            }
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				justify-content: space-between ;
				width: 100%;
			}
				.formation_date{
					width: 30%;

					margin: 0px 1% 0 0;
					font-size: 19px;
					font-weight: bolder;
				}
				.ecole {
					margin-left: -5px;
					width: 60%;
				}
					.societe {
						margin:0 0 10px ;
						font-size: 25.5px;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						font-size: 22px;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
						font-size: 20px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 70px;
					}
	.block_recommandation {
		display: flex;
		justify-content: space-between;
        margin: 35px 0 20px 0;
        font-size: 1.25em;
	}
	
	.recommandation_sous_titre {
		margin: 12px 0 ;
	}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;
			font-size: 20px;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.visible_max_screen {
		display: none;
	}
}
@media screen and (min-width:1000px) and (max-width: 1230px) {  
	h2 {
		font-size: 35px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
        margin: 0 70px 0 80px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
            }
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				justify-content: space-between ;
				width: 100%;
			}
				.formation_date{
					width: 30%;

					margin: 0px 1% 0 0;
					font-size: 19px;
					font-weight: bolder;
				}
				.ecole {
					margin-left: -5px;
					width: 60%;
				}
					.societe {
						margin:0 0 10px ;
						font-size: 25.5px;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						font-size: 22px;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
						font-size: 20px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 70px;
					}
	.block_recommandation {
		display: flex;
		justify-content: space-between;
        margin: 35px 0 20px 0;
        font-size: 1.25em;
	}
	
	.recommandation_sous_titre {
		margin: 12px 0 ;
	}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;
			font-size: 20px;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.visible_max_screen {
		display: none;
	}
}
@media screen and (min-width:750px) and (max-width: 1000px) {
    
	h2 {
		font-size: 35px;
	}
	p{
		font-size: 23px;
	}
    .right_side {	
		margin: 0 4%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 15px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
			}
	.block {
		margin: 45px 0;
		display: flex;
		justify-content: space-between;
	}
		.formation {
			width: 60%;
			margin: 0 0 0 10%;
		}
			.formation_date {
				font-weight: bolder;
				font-size: 19.8px;
				margin:0px 0 20px;
			}
			.societe {
				margin:0 0 10px ;
				font-size: 27px;
				text-transform: uppercase;
			}
			.poste {
				margin: 0;
				text-transform: uppercase;
				font-size: 21px;
				text-decoration: none;
				font-weight: bolder;
			}
			.fonction {
				margin: 10px 0 50px 0;
				font-size: 19.8px;
			}
				.fonction_bis {
					margin: 20px 0 0;
				}
			.fonction_exp {
				margin: 20px 0 -5px;;
			}
		.formation_last {
			margin: 0 10% 0 10%;
		}
		.formation_experience {
			width: 100%;
			margin: 0 0 0 8%;	
		}
		.formation_experience_last {
			margin: 0 8% 0 8%;
		}
	.block_recommandation {
		display: flex;
		justify-content: space-between;
		margin: 50px 0 20px;
	}
	.recommandation_info {
		margin: -5px 0 18px;
	}
		.info_bold {
			font-weight: bold;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
}
@media all and (max-width: 750px) {

	h2 {
		font-size: 35px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
		margin: 0 4%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 15px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
			}
	.block {
		width: 100%;
		margin: 45px 0;
		display: flex;
		justify-content: space-between;
	}
		.formation {
			width: 40%;
			margin: 0 0 0 5%;
		}
			.formation_date {
				font-weight: bolder;
				font-size: 18px;
				margin:0px 0 20px;
			}
			.societe {
				margin:0 0 10px ;
				font-size: 19px;
				text-transform: uppercase;
			}
			.poste {
				margin: 0;
				text-transform: uppercase;
				font-size: 21px;
				text-decoration: none;
				font-weight: bolder;
			}
			.fonction {
				margin: 10px 0 50px 0;
				font-size: 20px;
			}
				.fonction_bis {
					margin: 20px 0 0;
				}
			.fonction_exp {
				margin: 20px 0 -5px;;
			}
		.formation_last {
			margin: 0 5% 0 5%;
		}
		.formation_experience {
			width: 100%;
			margin: 0 2% 0 0;	
		}
		.formation_experience_last {
			
			margin: 0 ;
		}

	.block_recommandation {
		display: flex;
		justify-content: space-between;
		margin: 50px 0 20px;
	}
	.recommandation_info {
		margin: -5px 0 18px;
	}
		.info_bold {
			font-weight: bold;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	
}