@media all and (min-width: 1920px){
    h2 {
		font-size: 40px;
	}
	p{
		font-size: 23px;
	}
    .right_side {	
        margin: 0 80px 0 100px;
        width: 1100px;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 15px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
            }
    .block {
        margin: 35px 0;
    }
    .formation {
        display: flex;
        justify-content: space-between ;
        width: 75%;
        margin: 0;
    }
        .formation_date{
            font-weight: bolder;
            font-size: 20px;
            margin: 0px 33% 0 0;
            width: 40%;
        }
    
        .ecole {
            margin-left: -5px;
            width: 70%;
        }
            .societe {
                margin:0 0 20px ;
                font-size: 30px;
                text-transform: uppercase;
            }
            .poste {
                margin: 0;
                text-transform: uppercase;
                font-size: 24px;
                text-decoration: none;
                font-weight: bolder;
            }
            .fonction {
                margin: 20px 0 35px 0;
                font-size: 23px;
            }
            .fonction_bis {
                    margin: 20px 0 0;
                }
            .fonction_exp {
                margin: 20px 0 -5px;;
            }	
	.block_recommandation {
		display: flex;
		justify-content: space-between;

		margin: 50px 0 20px;
	}
			.visible_max_screen {
				display: none;
			}
	.recommandation_info {
		margin: -5px 0 18px;
	}
		.info_bold {
			font-weight: bold;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
}
@media screen and (min-width:1600px) and (max-width: 1920px) {  
	h2 {
		font-size: 36px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
        margin: 0 80px 0 100px;
        width: 1100px;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
            }
    .block {
        margin: 100px 0 20px;
    }
        .formation {
            display: flex;
            justify-content: space-between ;
            width: 100%;
        }
            .formation_date{
                font-weight: bolder;
                font-size: 20px;
                margin: 0px 1% 0 0;
                width: 30%;
            }
            .ecole {
                margin-left: -5px;
                width: 70%;
            }
                .societe {
                    margin:0 0 10px ;
                    font-size: 25.5px;
                    text-transform: uppercase;
                }
                .poste {
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 22px;
                    text-decoration: none;
                    font-weight: bolder;
                }
                .fonction {
                    margin: 8px 0 40px;
                    font-size: 20px;
                }
                .fonction_bis, .fontion_exp_bis {
                    margin: 8px 0 70px;
                }
                .fonction_exp {
                    margin: 8px 0 0 0;
                }
    .block_experience {
        margin: 70px 0;
    }
      
	.block_recommandation {
		display: flex;
		justify-content: space-between;
        margin: 35px 20% 20px 0;
        font-size: 1.4em;
	}
			.visible_max_screen {
				display: none;
			}
	.recommandation_info {
		margin: -5px 0 18px;
	}
		.info_bold {
			font-weight: bold;
			font-size: 22px;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
}
@media screen and (min-width:1240px) and (max-width: 1600px) { 
	h2 {
		font-size: 40px;
	}
	p{
		font-size: 23px;
	}
    .right_side {	
		margin: 0 0 0 100px;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 15px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
			}
	.societe {
		margin:0 0 20px ;
		font-size: 30px;
		text-transform: uppercase;
	}
	.poste {
		margin: 0;
		text-transform: uppercase;
		font-size: 24px;
		text-decoration: none;
		font-weight: bolder;
	}
	.fonction {
		margin: 20px 0 75px 0;
		font-size: 23px;
	}
		.fonction_bis {
			margin: 20px 0 0;
		}
	.fonction_exp {
		margin: 20px 0 -5px;;
	}
	.block {
		margin: 78px 0;
	}
	.block_recommandation {
		display: flex;
		justify-content: space-between;

		margin: 50px 0 20px;
	}
	.formation {
		display: flex;
		justify-content: space-between ;
	}
		.formation_date{

			font-weight: bolder;
			font-size: 20px;
			margin:0px;
		}
			.visible_max_screen {
				display: none;
			}
	.recommandation_info {
		margin: -5px 0 18px;
	}
		.info_bold {
			font-weight: bold;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.ecole {
		margin-left: -5px;
	}
}
@media screen and (min-width:1024px) and (max-width: 1240px) {  
	h2 {
		font-size: 40px;
	}
	p{
		font-size: 23px;
	}
    .right_side {	
		margin: 0 0 0 100px;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 15px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
			}
	.societe {
		margin:0 0 20px ;
		font-size: 30px;
		text-transform: uppercase;
	}
	.poste {
		margin: 0;
		text-transform: uppercase;
		font-size: 24px;
		text-decoration: none;
		font-weight: bolder;
	}
	.fonction {
		margin: 20px 0 75px 0;
		font-size: 23px;
	}
		.fonction_bis {
			margin: 20px 0 0;
		}
	.fonction_exp {
		margin: 20px 0 -5px;;
	}
	.block {
		margin: 78px 0;
	}
	.block_recommandation {
		display: flex;
		justify-content: space-between;

		margin: 50px 0 20px;
	}
	.formation {
		display: flex;
		justify-content: space-between ;

	}
		.formation_date{

			font-weight: bolder;
			font-size: 20px;
			margin:0px;
		}
			.visible_max_screen {
				display: none;
			}
	.recommandation_info {
		margin: -5px 0 18px;
	}
		.info_bold {
			font-weight: bold;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.ecole {
		margin-left: -5px;
	}
}
@media screen and (min-width:800px) and (max-width: 1024px) {  
	h2 {
		font-size: 40px;
	}
	p{
		font-size: 23px;
	}
    .right_side {	
		margin: 0 0 0 100px;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 15px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
			}
	.societe {
		margin:0 0 20px ;
		font-size: 30px;
		text-transform: uppercase;
	}
	.poste {
		margin: 0;
		text-transform: uppercase;
		font-size: 24px;
		text-decoration: none;
		font-weight: bolder;
	}
	.fonction {
		margin: 20px 0 75px 0;
		font-size: 23px;
	}
		.fonction_bis {
			margin: 20px 0 0;
		}
	.fonction_exp {
		margin: 20px 0 -5px;;
	}
	.block {
		margin: 78px 0;
	}
	.block_recommandation {
		display: flex;
		justify-content: space-between;

		margin: 50px 0 20px;
	}
	.formation {
		display: flex;
		justify-content: space-between ;

	}
		.formation_date{

			font-weight: bolder;
			font-size: 20px;
			margin:0px;
		}
			.visible_max_screen {
				display: none;
			}
	.recommandation_info {
		margin: -5px 0 18px;
	}
		.info_bold {
			font-weight: bold;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.ecole {
		margin-left: -5px;
	}
}
@media all and (max-width: 800px) {
    
	h2 {
		font-size: 40px;
	}
	p{
		font-size: 23px;
	}
    .right_side {	
		margin: 0 0 0 100px;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 15px 0;
		}
			.bordure_titres_section {
				border-bottom: 3px solid #2874A6;	
			}
	.societe {
		margin:0 0 20px ;
		font-size: 30px;
		text-transform: uppercase;
	}
	.poste {
		margin: 0;
		text-transform: uppercase;
		font-size: 24px;
		text-decoration: none;
		font-weight: bolder;
	}
	.fonction {
		margin: 20px 0 75px 0;
		font-size: 23px;
	}
		.fonction_bis {
			margin: 20px 0 0;
		}
	.fonction_exp {
		margin: 20px 0 -5px;;
	}
	.block {
		margin: 78px 0;
	}
	.block_recommandation {
		display: flex;
		justify-content: space-between;

		margin: 50px 0 20px;
	}
	.formation {
		display: flex;
		justify-content: space-between ;

	}
		.formation_date{

			font-weight: bolder;
			font-size: 20px;
			margin:0px;
		}
			.visible_max_screen {
				display: none;
			}
	.recommandation_info {
		margin: -5px 0 18px;
	}
		.info_bold {
			font-weight: bold;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.ecole {
		margin-left: -5px;
	}
}