@media all and (min-width: 1870px) {
  .en_tete_titre {
    margin: 125px 0 -40px 0;
    font-size: 90px;
    text-transform: uppercase; }

  .en_tete_sous_titre {
    margin-bottom: 150px;
    font-size: 40px; } }
@media screen and (min-width: 1660px) and (max-width: 1870px) {
  .en_tete_titre {
    margin: 115px 0 -40px 0;
    font-size: 90px;
    text-transform: uppercase; }

  .en_tete_sous_titre {
    margin-bottom: 140px;
    font-size: 40px; } }
@media screen and (min-width: 1450px) and (max-width: 1660px) {
  .en_tete_titre {
    margin: 80px 0 -40px 0;
    font-size: 85px;
    text-transform: uppercase; }

  .en_tete_sous_titre {
    margin-bottom: 125px;
    font-size: 40px; } }
@media screen and (min-width: 1230px) and (max-width: 1450px) {
  .en_tete_titre {
    margin: 80px 0 -40px 0;
    font-size: 85px;
    text-transform: uppercase; }

  .en_tete_sous_titre {
    margin-bottom: 100px;
    font-size: 40px; } }
@media screen and (min-width: 1000px) and (max-width: 1230px) {
  .en_tete_titre {
    margin: 80px 0 -40px 0;
    font-size: 65px;
    text-transform: uppercase; }

  .en_tete_sous_titre {
    margin-bottom: 100px;
    font-size: 35px; } }
@media screen and (min-width: 750px) and (max-width: 1000px) {
  .en_tete_titre {
    margin: 60px 0 -40px 0;
    font-size: 70px;
    text-transform: uppercase; }

  .en_tete_sous_titre {
    margin-bottom: 75px;
    font-size: 35px; } }
@media all and (max-width: 750px) {
  .en_tete_titre {
    margin: 50px 0 -30px 0;
    font-size: 50px;
    text-transform: uppercase; }

  .en_tete_sous_titre {
    margin-bottom: 45px;
    font-size: 25px; } }
@media all and (min-width: 1870px) {
  aside {
    width: 40%; }

  .titres_aside {
    margin: 50px 0; }

  .contact > h3 {
    font-size: 20px;
    margin: 0px 0 0 55px; }

  .contact > p {
    font-size: 20px;
    margin: 0 0 20px 55px; }

  .contact_img {
    width: 280px;
    height: 280px;
    margin: 12% 0 0 20%;
    border: #2874A6 5px solid;
    border-radius: 50%; }

  .description > p {
    margin: 0 55px 480px; }

  .description_loisir {
    margin: 0 0 50px; }

  .description_loisir > .logo {
    margin: 0; }

  .logo > i {
    padding: 0 0 0 12%;
    font-size: 60px; } }
@media screen and (min-width: 1660px) and (max-width: 1870px) {
  aside {
    width: 40%; }

  .titres_aside {
    margin: 50px 0; }

  .contact > h3 {
    font-size: 20px;
    margin: 0px 0 0 55px; }

  .contact > p {
    font-size: 20px;
    margin: 0 0 20px 55px; }

  .contact_img {
    width: 270px;
    height: 270px;
    margin: 12% 0 0 17%;
    border: #2874A6 5px solid;
    border-radius: 50%; }

  .description > p {
    margin: 0 55px 480px; }

  .description_loisir {
    margin: 0 0 50px; }

  .description_loisir > .logo {
    margin: 0; }

  .logo > i {
    padding: 0 0 0 11.2%;
    font-size: 60px; } }
@media screen and (min-width: 1450px) and (max-width: 1660px) {
  aside {
    width: 45%; }

  .titres_aside {
    margin: 50px 0; }

  .contact > h3 {
    font-size: 20px;
    margin: 0px 0 0 55px; }

  .contact > p {
    font-size: 20px;
    margin: 0 0 20px 55px; }

  .contact_img {
    width: 235px;
    height: 235px;
    margin: 12% 0 0 21%;
    border: #2874A6 5px solid;
    border-radius: 50%; }

  .description > p {
    margin: 0 55px 480px; }

  .description_loisir {
    margin: 0 0 50px; }

  .description_loisir > .logo {
    margin: 0; }

  .logo > i {
    padding: 0 0 0 11.2%;
    font-size: 60px; } }
@media screen and (min-width: 1230px) and (max-width: 1450px) {
  aside {
    width: 55%; }

  .titres_aside {
    margin: 50px 0; }

  .contact > h3 {
    font-size: 20px;
    margin: 0px 0 0 55px; }

  .contact > p {
    font-size: 20px;
    margin: 0 0 20px 55px; }

  .contact_img {
    width: 235px;
    height: 235px;
    margin: 12% 0 0 17%;
    border: #2874A6 5px solid;
    border-radius: 50%; }

  .description > p {
    margin: 0 55px 480px; }

  .description_loisir {
    margin: 0 0 50px; }

  .description_loisir > .logo {
    margin: 0; }

  .logo > i {
    padding: 0 0 0 9%;
    font-size: 60px; } }
@media screen and (min-width: 1000px) and (max-width: 1230px) {
  aside {
    width: 55%; }

  .titres_aside {
    margin: 50px 0; }

  .contact > h3 {
    font-size: 20px;
    margin: 0px 0 0 55px; }

  .contact > p {
    font-size: 20px;
    margin: 0 0 20px 55px; }

  .contact_img {
    width: 235px;
    height: 235px;
    margin: 12% 0 0 19.5%;
    border: #2874A6 5px solid;
    border-radius: 50%; }

  .description > p {
    margin: 0 55px 480px; }

  .description_loisir {
    margin: 0 0 50px; }

  .description_loisir > .logo {
    margin: 0; }

  .logo > i {
    padding: 0 0 0 9%;
    font-size: 60px; } }
@media all and (max-width: 1000px) {
  .titres_aside {
    margin: 50px 0;
    font-size: 2.2em; }

  .contact > h3, .contact > p {
    font-size: 23px;
    font-weight: bold; }

  .contact > h3 {
    margin: 30px 0 0 10%; }

  .contact > p {
    margin: 0 0 30px 10%; }

  .contact_img {
    width: 30%;
    height: 30%;
    margin: 75px 0 0 35%;
    border: #2874A6 5px solid;
    border-radius: 50%; }

  .description > p {
    margin: 0 10% 120px;
    font-size: 1.2em; }

  .description_loisir > .logo {
    margin: 0 0 50px 0%; }

  .fas_logo_loisir {
    padding: 0 0 0 18%;
    font-size: 60px; }

  .fas_logo_loisir_last {
    padding: 0 16% 0; } }
body {
  width: 100%;
  margin: 0;
  display: flex;
  font-family: 'Courier Prime', monospace; }

aside {
  background-color: #AED6F1; }
  aside .contact {
    font-weight: bold; }
    aside .contact .contact_img {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    aside .contact .contact_telephone {
      letter-spacing: -3.2px; }
    aside .contact a {
      color: black;
      text-decoration: none; }
      aside .contact a:hover {
        color: white; }

.titres_aside {
  text-transform: uppercase;
  text-align: center;
  color: #AED6F1;
  background-color: #2874A6;
  padding-top: 8px; }

h1 {
  text-transform: uppercase;
  margin-bottom: -4%; }

h2 {
  text-transform: uppercase; }

.societe, .poste {
  text-transform: uppercase; }

.fas_cv {
  margin: 0 1% 0 0; }

.formation_date {
  letter-spacing: -2.3px; }

.fa-graduation-cap, .fa-suitcase, .fa-pencil-alt, .fa-dot-circle, .fa-circle, .en_tete_prenom {
  color: #2874A6; }

.en_tete_sous_titre {
  font-weight: bold; }

.underline {
  text-decoration: underline #2874A6; }

@media all and (max-width: 1000px) {
  body {
    margin: 0%;
    border: 1.78px rgba(0, 0, 0, 0.5) solid;
    display: flex;
    flex-direction: column-reverse; } }
@media all and (min-width: 1000px) {
  .date_and_info {
    display: flex;
    justify-content: space-between; } }
.block header {
  border-bottom: 3px solid #2874A6;
  margin: 0 0 70px; }

.container_recommandations {
  display: flex;
  justify-content: space-between; }

.formation_date {
  margin: 0; }

@media all and (min-width: 1870px) {
  h2 {
    font-size: 40px; }

  p {
    font-size: 20px; }

  .right_side {
    margin: 0 80px 0 100px;
    width: 100%; }

  .titre_section {
    text-transform: uppercase;
    margin: 0px 0 10px 0; }

  .block {
    margin: 70px 0 80px; }

  .formation {
    display: flex;
    width: 100%; }
    .formation .container_form {
      display: flex;
      font-weight: bolder;
      margin: 0px 3% 0 1%;
      width: 20%; }

  .ecole {
    margin-left: -5px;
    width: 70%; }
    .ecole .societe {
      margin: 0 0 10px;
      font-size: 25.5px;
      text-transform: uppercase; }
    .ecole .poste {
      margin: 0;
      text-transform: uppercase;
      font-size: 22px;
      text-decoration: none;
      font-weight: bolder; }
    .ecole .fonction {
      margin: 8px 0 50px;
      font-size: 20px; }
    .ecole .fonction_bis, .ecole .fontion_exp_bis {
      margin: 8px 0 0px; }

  .container_recommandations {
    margin: 35px 20% 20px 0; }

  .recommandation_sous_titre {
    margin: 12px 0; }

  .recommandation_info {
    margin: 6px 0; }

  .info_bold {
    font-weight: bold;
    font-size: 22px; }

  .recommandation_info_mail {
    margin: -5px 0 0; }

  .fa-circle, .fa-dot-circle {
    width: 25.84px; }

  .visible_max_screen {
    display: none; } }
@media screen and (min-width: 1660px) and (max-width: 1870px) {
  h2 {
    font-size: 40px; }

  p {
    font-size: 20px; }

  .right_side {
    margin: 0 70px 0 80px;
    width: 100%; }

  .titre_section {
    text-transform: uppercase;
    margin: 0px 0 10px 0; }

  .block {
    margin: 80px 0 35px; }

  .formation {
    display: flex;
    width: 100%; }
    .formation .container_form {
      display: flex;
      font-weight: bolder;
      margin: 0px .5% 0 1%;
      width: 25%; }

  .ecole {
    margin-left: -5px;
    width: 70%; }

  .societe {
    margin: 0 0 10px;
    font-size: 25.5px;
    text-transform: uppercase; }

  .poste {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    font-weight: bolder; }

  .fonction {
    margin: 8px 0 50px;
    font-size: 20px; }

  .fonction_bis, .fontion_exp_bis {
    margin: 8px 0 0px; }

  .container_recommandations {
    margin: 35px 18% 20px 0; }

  .recommandation_sous_titre {
    margin: 12px 0; }

  .recommandation_info {
    margin: 6px 0; }

  .info_bold {
    font-weight: bold;
    font-size: 22px; }

  .recommandation_info_mail {
    margin: -5px 0 0; }

  .fa-circle, .fa-dot-circle {
    width: 25.84px; }

  .visible_max_screen {
    display: none; } }
@media screen and (min-width: 1450px) and (max-width: 1660px) {
  h2 {
    font-size: 40px; }

  p {
    font-size: 20px; }

  .right_side {
    margin: 0 70px 0 80px;
    width: 100%; }

  .titre_section {
    text-transform: uppercase;
    margin: 0px 0 10px 0; }

  .block {
    margin: 80px 0 35px; }

  .formation {
    display: flex;
    width: 100%; }
    .formation .container_form {
      display: flex;
      font-weight: bolder;
      margin: 0px .5% 0 1%;
      width: 28%; }

  .ecole {
    margin-left: -5px;
    width: 60%; }

  .societe {
    margin: 0 0 10px;
    font-size: 25.5px;
    text-transform: uppercase; }

  .poste {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    font-weight: bolder; }

  .fonction {
    margin: 8px 0 50px;
    font-size: 20px; }

  .fonction_bis, .fontion_exp_bis {
    margin: 8px 0 0px; }

  .container_recommandations {
    margin: 35px 13% 20px 0; }

  .recommandation_sous_titre {
    margin: 12px 0; }

  .recommandation_info {
    margin: 6px 0; }

  .info_bold {
    font-weight: bold;
    font-size: 22px; }

  .recommandation_info_mail {
    margin: -5px 0 0; }

  .fa-circle, .fa-dot-circle {
    width: 25.84px; }

  .visible_max_screen {
    display: none; } }
@media screen and (min-width: 1230px) and (max-width: 1450px) {
  h2 {
    font-size: 35px; }

  p {
    font-size: 20px; }

  .right_side {
    margin: 0 65px 0 65px;
    width: 100%; }

  .titre_section {
    text-transform: uppercase;
    margin: 0px 0 10px 0; }

  .block {
    margin: 80px 0 35px; }

  .formation {
    display: flex;
    width: 100%; }
    .formation .container_form {
      display: flex;
      font-weight: bolder;
      margin: 0px .5% 0 1%;
      width: 33%; }

  .ecole {
    margin-left: -5px;
    width: 65%; }

  .societe {
    margin: 0 0 10px;
    font-size: 25.5px;
    text-transform: uppercase; }

  .poste {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    font-weight: bolder; }

  .fonction {
    margin: 8px 0 50px;
    font-size: 20px; }

  .fonction_bis, .fontion_exp_bis {
    margin: 8px 0 0px; }

  .container_recommandations {
    margin: 35px 10% 20px 0; }

  .recommandation_sous_titre {
    margin: 12px 0; }

  .recommandation_info {
    margin: 6px 0; }

  .info_bold {
    font-weight: bold;
    font-size: 20px; }

  .recommandation_info_mail {
    margin: -5px 0 0; }

  .fa-circle, .fa-dot-circle {
    width: 25.84px; }

  .visible_max_screen {
    display: none; } }
@media screen and (min-width: 1000px) and (max-width: 1230px) {
  h2 {
    font-size: 30px; }

  p {
    font-size: 20px; }

  .right_side {
    margin: 0 50px 0 50px;
    width: 85%; }

  .titre_section {
    text-transform: uppercase;
    margin: 0px 0 10px 0; }

  .block {
    margin: 80px 0 35px; }

  .formation {
    display: flex;
    width: 100%; }
    .formation .container_form {
      display: flex;
      font-weight: bolder;
      margin: 0px 1% 0 1%;
      width: 40%; }
      .formation .container_form .formation_date {
        font-size: 1.2rem; }

  .ecole {
    margin-left: -5px;
    width: 55%; }

  .societe {
    margin: 0 0 10px;
    font-size: 25.5px;
    text-transform: uppercase; }

  .poste {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    font-weight: bolder; }

  .fonction {
    margin: 8px 0 50px;
    font-size: 20px; }

  .fonction_bis, .fontion_exp_bis {
    margin: 8px 0 0px; }

  .container_recommandations {
    margin: 35px 8% 20px 0; }

  .recommandation_sous_titre {
    margin: 12px 0; }

  .recommandation_info {
    margin: 6px 0; }

  .info_bold {
    font-weight: bold;
    font-size: 20px; }

  .recommandation_info_mail {
    margin: -5px 0 0; }

  .fa-circle, .fa-dot-circle {
    width: 25.84px; }

  .visible_max_screen {
    display: none; } }
@media all and (max-width: 1000px) {
  .right_side {
    margin: 0 4%; }

  .titre_section {
    text-transform: uppercase;
    margin: 0px 0 15px 0;
    font-size: 2.2em; }

  .block {
    margin: 45px 0; }

  .formation {
    width: 80%;
    margin: 0 0 0 5%; }
    .formation .container_form {
      display: flex;
      font-weight: bolder;
      margin: 0 0 20px;
      width: 40%;
      font-size: 1.2em -5px; }
    .formation p {
      font-size: 1.2em; }
    .formation h3 {
      font-size: 1.5em; }

  .societe {
    margin: 0 0 10px;
    text-transform: uppercase; }

  .poste {
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder; }

  .fonction {
    margin: 10px 0 50px 0; }

  .fonction_bis {
    margin: 10px 0 0; }

  .formation_last {
    margin: 0 5%; }
    .formation_last p {
      font-size: 1.2em; }
    .formation_last h3 {
      font-size: 1.5em; }

  .formation_experience {
    width: 80%;
    margin: 0 0 20px 4%; }
    .formation_experience p {
      font-size: 1.2em; }
    .formation_experience h3 {
      font-size: 1.5em; }

  .formation_experience_last {
    margin: 0 4%; }

  .container_recommandations {
    margin: 35px 5% 20px 0;
    font-size: 1.2em; }

  .recommandation_info {
    margin: -5px 0 18px; }

  .info_bold {
    font-weight: bold; }

  .recommandation_info_mail {
    margin: -5px 0 0; }

  .fa-circle, .fa-dot-circle {
    width: 25.84px; } }

/*# sourceMappingURL=style.css.map */
