@media all and (min-width: 1870px) {
  .en_tete_titre {
    margin: 125px 0 -40px 0;
    font-size: 90px; }

  .en_tete_sous_titre {
    margin-bottom: 150px;
    font-size: 40px; } }
@media screen and (min-width: 1660px) and (max-width: 1870px) {
  .en_tete_titre {
    margin: 115px 0 -40px 0;
    font-size: 90px; }

  .en_tete_sous_titre {
    margin-bottom: 140px;
    font-size: 40px; } }
@media screen and (min-width: 1450px) and (max-width: 1660px) {
  .en_tete_titre {
    margin: 80px 0 -40px 0;
    font-size: 85px; }

  .en_tete_sous_titre {
    margin-bottom: 125px;
    font-size: 40px; } }
@media screen and (min-width: 1230px) and (max-width: 1450px) {
  .en_tete_titre {
    margin: 80px 0 -40px 0;
    font-size: 85px; }

  .en_tete_sous_titre {
    margin-bottom: 100px;
    font-size: 40px; } }
@media screen and (min-width: 1000px) and (max-width: 1230px) {
  .en_tete_titre {
    margin: 80px 0 -40px 0;
    font-size: 65px; }

  .en_tete_sous_titre {
    margin-bottom: 100px;
    font-size: 35px; } }
@media screen and (min-width: 750px) and (max-width: 1000px) {
  .en_tete_titre {
    margin: 60px 0 -40px 0;
    font-size: 70px; }

  .en_tete_sous_titre {
    margin-bottom: 75px;
    font-size: 35px; } }
@media all and (max-width: 750px) {
  .en_tete_titre {
    margin: 50px 0 -30px 0;
    font-size: 50px; }

  .en_tete_sous_titre {
    margin-bottom: 45px;
    font-size: 25px; } }
.left_side {
  background-color: #AED6F1; }
  .left_side .contact h3 {
    margin: 0px 0 0 55px;
    font-size: 1em; }
  .left_side .contact p {
    margin: 0 0 20px 55px; }
  .left_side .contact .contact_telephone {
    letter-spacing: -3.2px; }
  .left_side .contact a {
    color: black;
    text-decoration: none; }
    .left_side .contact a:hover {
      color: #2874A6; }

.titres_aside {
  margin: 50px 0; }

.photo, .logo {
  display: flex;
  flex-direction: row; }

.titres_aside {
  text-align: center;
  color: #AED6F1;
  background-color: #2874A6;
  padding-top: 8px; }

.photo {
  justify-content: center;
  margin: 10% 0 0 0; }

.description p {
  margin: 0 55px 480px; }

.description_loisir .logo {
  justify-content: space-between;
  margin: 0 10%; }
  .description_loisir .logo .logo i {
    font-size: 60px; }

@media all and (min-width: 1870px) {
  .left_side {
    width: 40%; }
    .left_side .contact_img {
      width: 280px;
      height: 280px;
      border: #2874A6 5px solid;
      border-radius: 50%; }
    .left_side .description_loisir > .logo {
      font-size: .9em;
      margin: 0 10% 4%; }
      .left_side .description_loisir > .logo .logo i {
        font-size: .3em; } }
@media screen and (min-width: 1660px) and (max-width: 1870px) {
  .left_side {
    width: 40%; }
    .left_side .contact_img {
      width: 270px;
      height: 270px;
      border: #2874A6 5px solid;
      border-radius: 50%; } }
@media screen and (min-width: 1450px) and (max-width: 1660px) {
  .left_side {
    width: 45%; }
    .left_side .contact_img {
      width: 235px;
      height: 235px;
      border: #2874A6 5px solid;
      border-radius: 50%; }
    .left_side .description_loisir {
      margin: 0 0 50px; }
    .left_side .description_loisir > .logo {
      font-size: .9em; } }
@media screen and (min-width: 1230px) and (max-width: 1450px) {
  .left_side {
    width: 55%; }
    .left_side .contact_img {
      width: 235px;
      height: 235px;
      border: #2874A6 5px solid;
      border-radius: 50%; }
    .left_side .description_loisir {
      margin: 0 0 50px; }
    .left_side .description_loisir > .logo {
      font-size: .8em; } }
@media screen and (min-width: 1000px) and (max-width: 1230px) {
  .left_side {
    width: 55%; }
    .left_side .contact_img {
      width: 235px;
      height: 235px;
      border: #2874A6 5px solid;
      border-radius: 50%; }
    .left_side .description_loisir {
      margin: 0 0 50px; }
    .left_side .description_loisir > .logo {
      font-size: .6em; } }
@media all and (max-width: 1000px) {
  .contact > h3 {
    font-weight: bold;
    margin: 30px 0 0 10%; }

  .contact > p {
    margin: 0 0 30px 10%; }

  .contact_img {
    width: 30%;
    height: 30%;
    margin: -5% 0 0 0;
    border: #2874A6 5px solid;
    border-radius: 50%; }

  .description > p {
    margin: 0 10% 120px; }

  .description_loisir > .logo {
    font-size: .8em;
    margin: 0 22.5% 35px; } }
body {
  margin: 0;
  display: flex;
  font-size: 1.3em;
  font-family: 'Courier Prime', monospace; }

h2 {
  font-size: 1.8em; }

h1, h2, .societe, .poste, .titres_aside {
  text-transform: uppercase; }

body, .right_side .container_recommandations, .recommandations_boss {
  width: 100%; }

.fas_cv {
  margin: 0 1% 0 0; }

.formation_date {
  letter-spacing: -2.3px; }

.fa-graduation-cap, .fa-suitcase, .fa-pencil-alt, .fa-dot-circle, .fa-circle, .en_tete_prenom {
  color: #2874A6; }

.en_tete_sous_titre, .contact {
  font-weight: bold; }

.underline {
  margin-top: 2%;
  border-bottom: 4px solid #2874A6; }

@media all and (max-width: 1000px) {
  body {
    margin: 0%;
    border: 1.78px rgba(0, 0, 0, 0.5) solid;
    flex-direction: column;
    font-size: 1.85em; } }
@media all and (min-width: 1000px) {
  .date_and_info {
    display: flex;
    justify-content: space-between; } }
.block header {
  border-bottom: 3px solid #2874A6;
  margin: 0 0 70px; }

.formation_date {
  margin: 0 0 0 7%; }

.container_recommandations {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .container_recommandations .recommandations_boss {
    margin: 0; }
  .container_recommandations .recommandation_info, .container_recommandations .recommandation_sous_titre {
    margin: 8px 0; }
  .container_recommandations .info_bold {
    font-weight: bold; }

.titre_section {
  text-transform: uppercase;
  margin: 0px 0 10px 0; }

.titre_section, .societe, .poste {
  text-transform: uppercase; }

.block {
  margin: 70px 0 80px 5%; }
  .block .formation {
    display: flex;
    width: 100%; }
    .block .formation .ecole {
      margin-left: -5px;
      width: 70%; }
      .block .formation .ecole .societe {
        margin: 0 0 10px; }
      .block .formation .ecole .poste {
        margin: 0;
        text-decoration: none;
        font-weight: bolder; }
      .block .formation .ecole .fonction {
        margin: 8px 0 50px; }
      .block .formation .ecole .fonction_bis, .block .formation .ecole .fontion_exp_bis {
        margin: 8px 0 0px; }
  .block .container_form {
    display: flex;
    font-weight: bolder;
    margin: 0px 3% 0 0; }

@media all and (min-width: 1870px) {
  .right_side {
    margin: 0 80px 0 100px;
    width: 100%; }

  .container_form {
    width: 21%; } }
@media screen and (min-width: 1660px) and (max-width: 1870px) {
  .right_side {
    margin: 0 70px 0 80px;
    width: 100%; }

  .block {
    margin: 80px 0 35px; }
    .block .container_form {
      margin: 0px .5% 0 1%;
      width: 25%; }
    .block .poste {
      margin: 0; } }
@media screen and (min-width: 1450px) and (max-width: 1660px) {
  .right_side {
    margin: 0 70px 0 80px;
    width: 100%; }

  .block {
    margin: 80px 0 35px; }
    .block .container_form {
      margin: 0px .5% 0 1%;
      width: 32%; }
    .block .ecole {
      width: 60%; } }
@media screen and (min-width: 1230px) and (max-width: 1450px) {
  .right_side {
    margin: 0 65px 0 65px;
    width: 100%; }

  .block {
    margin: 80px 0 35px; }
    .block .container_form {
      margin: 0px 2.5% 0 1%;
      width: 40%; }
    .block .ecole {
      width: 65%; }
    .block .container_recommandations .recommandations_boss {
      margin-right: 2%; }
    .block .container_recommandations .recommandations_boss_last {
      margin: 0; } }
@media screen and (min-width: 1000px) and (max-width: 1230px) {
  .right_side {
    margin: 0 2.5%;
    width: 85%; }

  .titre_section {
    margin: 0px 0 2% 0; }

  .block {
    margin: 80px 0 35px; }
    .block .container_form {
      margin: 0px -25% 0 1%;
      width: 67%; }
    .block .ecole {
      width: 55%; }

  .container_recommandations .recommandations_boss {
    font-size: 0.86em;
    margin-right: 2%; }
  .container_recommandations .recommandations_boss_last {
    margin: 0; } }
@media all and (max-width: 1000px) {
  .right_side {
    margin: 0 4%; }

  .titre_section {
    margin: 0px 0 15px 0; }

  .block {
    margin: 45px 0; }
    .block .formation_experience {
      width: 80%; }
    .block .formation, .block .container_recomandations {
      flex-direction: column; }
    .block .formation {
      width: 80%; }
      .block .formation .container_form {
        display: flex;
        margin: 0 0 20px;
        width: 90%; }
      .block .formation .formation_date {
        margin: 0 0 0 1.5%; }
      .block .formation .fonction {
        margin: 10px 0 50px 0; }
      .block .formation .fonction_bis {
        margin: 10px 0 0; }
      .block .formation .hide-sm {
        display: none; }

  .container_recommandations {
    font-size: .742em; }
    .container_recommandations .recommandations_boss {
      margin-right: 2%; }
    .container_recommandations .recommandations_boss_last {
      margin-top: 2%; } }

/*# sourceMappingURL=style.css.map */
