@media screen and (min-width:1240px) and (max-width:1600px) {

    body {
        display: flex;
        margin: 0;
    }
    aside {
        width:36%x;
    }
    h1 {
        font-size: 100px;
        margin: 140px 0 0;
    }
    h2 {
        font-size: 43px;
    }
    p {
        font-size: 23px;
    }
    .titres_aside {
        
        margin: 50px 0;
    }
    
    .contact_titre_info, .contact_info {
        font-size: 23px;
        font-weight: bold;
    }
    .contact_titre_info {
        margin: 30px 0 0 65px;
    }
    .contact_info {
        margin: 0 0 30px 65px;
    }
    .contact_img {

        width: 280px;height: 280px;
        margin: 90px 0 0 90px;
        border: #2874A6 5px solid;
        border-radius: 50%;
    }
    .description_bio {
        margin: 0 65px 480px;
    }
    .description_loisir > .logo{
        margin: 0;
    }
        .logo > i {
            padding: 0 0 0 10%;
            font-size: 60px;
        }
    .right_side {
        width: 63%;
        margin: 0 0 0 100px;
    }
        .en_tete_sous_titre {
            font-size: 44px;
            margin: -5px 0 175px;
        }
        .titre_section {
            margin: 45px 0  20px;
        }
        .fa-graduation-cap {
            font-size: 2px;
        }
        .bordure_titres_section {
            border-bottom: #2874A6 4px solid ;
            margin: 0 80px 0 0;
        }
        .block {
            margin: 80px 0;
            
        }
            .formation {
                display: flex;
                justify-content: space-between;
                margin: 80px 0;

            }
                .formation_date {
                    margin: 0;
                    width: 40%;
                    font-weight: bold;
                    font-size: 22px;
                }
                .ecole {
                    width: 60%;
                    margin: 0 6% 0 0;
                }   
                    .societe {
                        font-weight: bold;
                        font-size: 31px;
                        margin: 0;
                    }
                    .poste {
                        margin: 18px 0;
                        font-weight: bold;
                    }
                    .fonction {
                        margin: 0;
                    }
                    .fonction_bis {
                        margin: 0 0 20px;
                    }
        .block_recommandation {
            display: flex;
            justify-content: space-between;
        }
            .recommandations_boss {
                width: 600px;
            }
                .recommandation_sous_titre {
                    font-size: 28px;
                    margin: 30px 0 20px;
                }
                .recommandation_info {
                    margin: 10px 0;
                }
                .recommandation_info_mail {
                    margin: 10px 0 0;
                }
                .info_bold {
                    font-weight: bold;
                }
}