@mixin rotate ($rotate){
	-webkit-transform: rotate($rotate);
	-moz-transform: rotate($rotate);
	-ms-transform: rotate($rotate);
	-o-transform: rotate($rotate);
	transform: rotate($rotate);	
}
body {
	width: 100%;
	margin: 0;
	display: flex;
	font-family: 'Courier Prime', monospace;
}
aside {
	background-color: #AED6F1;
	.contact{
		font-weight: bold;
		.contact_img {
			@include rotate(-90deg);
		}
		.contact_telephone {
			letter-spacing: -3.2px;
		}
		a {
			color: black;
			text-decoration: none;	
			&:hover {
				color: white;
			}
		}
	}
}
.titres_aside{
	text-transform: uppercase;
	text-align: center;
	color: #AED6F1;
	background-color: #2874A6;
	padding-top: 8px;
}
h1 {
	text-transform: uppercase;
	margin-bottom: -4%;
}
h2 {
	text-transform: uppercase;
}
.societe , .poste {
	text-transform: uppercase;
}
.fas_cv {
	margin: 0 1% 0 0;
}

.formation_date {
	letter-spacing: -2.3px;
}
.fa-graduation-cap , .fa-suitcase , .fa-pencil-alt , .fa-dot-circle, .fa-circle, .en_tete_prenom {
	color:#2874A6;
}
.en_tete_sous_titre {
	font-weight: bold;
}
.underline {
	text-decoration: underline #2874A6;
}
@media all and (max-width: 1000px) {
	
	body {
		margin: 0%;
		border: 1.78px rgba(0,0,0,0.5) solid;
		display: flex;
		flex-direction: column-reverse;
	}
	p {
		font-size: $seize-p;
	}
	h2 {
		font-size: $seize-h2;
	}
	h3 {
		font-size: $seize-h3;
	}
}
@media all and (min-width: 1000px) {
	.date_and_info {
		display: flex;
		justify-content: space-between;
	}
}
