
@media all and (min-width: 1870px) {
    aside {
        width:40%;
    }
    .titres_aside {
        margin: 50px 0;
    }
    .contact_titre_info {
        font-size: 20px;
        margin: 0px 0 0 55px;
    }
    .contact_info {
        font-size: 20px;
        margin: 0 0 20px 55px;
    }
    .contact_img {
        width: 280px;
        height: 280px;
        margin: 12% 0 0 20%;
        border: #2874A6 5px solid;
        border-radius: 50%;
    }
    .description_bio {
        margin: 0 55px 480px;
    }
    .description_loisir {
        margin: 0 0 50px;
    }
        .description_loisir > .logo{
            margin: 0;
        }
            .logo > i {
                padding: 0 0 0 12%;
                font-size: 60px;
            }
}
@media screen and (min-width: 1660px) and (max-width: 1870px) {
    aside {
        width:40%;
    }
    .titres_aside {
        margin: 50px 0;
    }
    .contact_titre_info {
        font-size: 20px;
        margin: 0px 0 0 55px;
    }
    .contact_info {
        font-size: 20px;
        margin: 0 0 20px 55px;
    }
    .contact_img {
        width: 270px;
        height: 270px;
        margin: 12% 0 0 17%;
        border: #2874A6 5px solid;
        border-radius: 50%;
    }
    .description_bio {
        margin: 0 55px 480px;
    }
    .description_loisir {
        margin: 0 0 50px;
    }
        .description_loisir > .logo{
            margin: 0;
        }
            .logo > i {
                padding: 0 0 0 11.2%;
                font-size: 60px;
            }
}
@media screen and (min-width: 1450px) and (max-width: 1660px) {
    aside {
        width:45%;
    }
    .titres_aside {
        margin: 50px 0;
    }
    .contact_titre_info {
        font-size: 20px;
        margin: 0px 0 0 55px;
    }
    .contact_info {
        font-size: 20px;
        margin: 0 0 20px 55px;
    }
    .contact_img {
        width: 235px;
        height: 235px;
        margin: 12% 0 0 21%;
        border: #2874A6 5px solid;
        border-radius: 50%;
    }
    .description_bio {
        margin: 0 55px 480px;
    }
    .description_loisir {
        margin: 0 0 50px;
    }
        .description_loisir > .logo{
            margin: 0;
        }
            .logo > i {
                padding: 0 0 0 11.2%;
                font-size: 60px;
            }
}
@media screen and (min-width: 1230px) and (max-width: 1450px) {
    aside {
        width:55%;
    }
    .titres_aside {
        margin: 50px 0;
    }
    .contact_titre_info {
        font-size: 20px;
        margin: 0px 0 0 55px;
    }
    .contact_info {
        font-size: 20px;
        margin: 0 0 20px 55px;
    }
    .contact_img {
        width: 235px;
        height: 235px;
        margin: 12% 0 0 17%;
        border: #2874A6 5px solid;
        border-radius: 50%;
    }
    .description_bio {
        margin: 0 55px 480px;
    }
    .description_loisir {
        margin: 0 0 50px;
    }
        .description_loisir > .logo{
            margin: 0;
        }
            .logo > i {
                padding: 0 0 0 9%;
                font-size: 60px;
            }
}
@media screen and (min-width: 1000px) and (max-width: 1230px) {
    aside {
        width:55%;
    }
    .titres_aside {
        margin: 50px 0;
    }
    .contact_titre_info {
        font-size: 20px;
        margin: 0px 0 0 55px;
    }
    .contact_info {
        font-size: 20px;
        margin: 0 0 20px 55px;
    }
    .contact_img {
        width: 235px;
        height: 235px;
        margin: 12% 0 0 19.5%;
        border: #2874A6 5px solid;
        border-radius: 50%;
    }
    .description_bio {
        margin: 0 55px 480px;
    }
    .description_loisir {
        margin: 0 0 50px;
    }
        .description_loisir > .logo{
            margin: 0;
        }
            .logo > i {
                padding: 0 0 0 9%;
                font-size: 60px;
            }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    .titres_aside {  
        margin: 50px 0;
    }
    .contact_titre_info, .contact_info {
        font-size: 23px;
        font-weight: bold;
    }
    .contact_titre_info {
        margin: 30px 0 0 10%;
    }
    .contact_info {
        margin: 0 0 30px 10%;
    }
    .contact_img {

        width: 30%;
        height: 30%;
        margin: 75px 0 0 35%;
        border: #2874A6 5px solid;
        border-radius: 50%;
    }
    .description_bio {
        margin: 0 10% 120px;
    }
    .description_loisir > .logo{
        margin: 0 0 50px 0%;
    }
        .fas_logo_loisir {
            padding: 0 0 0 16%;
            font-size: 60px;
        }
        .fas_logo_loisir_last {
            padding: 0 16% 0;
        }
}
@media all and (max-width: 750px) {
    .titres_aside {  
        margin: 50px 0;
        font-size: 35px;
    }
    .contact_titre_info, .contact_info {
        font-size: 20px;
        font-weight: bold;
    }
    .contact_titre_info {
        margin: 30px 0 0 10%;
    }
    .contact_info {
        margin: 0 0 30px 10%;
    }
    .contact_img {

        width: 30%;
        height: 30%;
        margin: 75px 0 0 35%;
        border: #2874A6 5px solid;
        border-radius: 50%;
    }
    .description_bio {
        margin: 0 10% 120px;
    }
    .description_loisir > .logo{
        margin: 0 0 50px 0%;
        font-size: 10px;
    }
        .fas_logo_loisir {
            padding: 0 0 0 16.3%;
        }
        .fas_logo_loisir_last {
            padding: 0 16.3% 0;
        }
}