.block header {
	border-bottom: 3px solid #2874A6;
	margin: 0 0 70px;

}
.container_recommandations {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	.recommandations_boss {
		margin: 0 20% 0 0;
	}
	.recommandations_boss_last {
		margin: 0 35% 0 0;
	}
}
.formation_date {
	margin: 0 0 0 7%;
}


@media all and (min-width:1870px) {  
    .right_side {	
        margin: 0 80px 0 100px;
		width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;

		}
	
		.block {
			margin: 70px 0 80px;
		}
			.formation {
				display: flex;
				
				width: 100%;
			
				.container_form {
					display: flex;
					font-weight: bolder;
					margin: 0px 3% 0 1%;
					width: 25%;
				
				}
			}

				.ecole {
					margin-left: -5px;
					width: 70%;
				
					.societe {
						margin:0 0 10px ;

						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;

						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
	
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 0px;
					}
				}

	
	.recommandation_sous_titre {
	margin: 12px 0 ;
	}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;

		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}

	.visible_max_screen {
		display: none;
	}
}


@media screen and (min-width:1660px) and (max-width: 1870px) {  

    .right_side {	
        margin: 0 70px 0 80px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				
				width: 100%;
				.container_form {
					display: flex;
					font-weight: bolder;
					margin: 0px .5% 0 1%;
					width: 28%;
				}
			}
				.ecole {
					margin-left: -5px;
					width: 70%;
				}
					.societe {
						margin:0 0 10px ;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 0px;
					}

	.recommandation_sous_titre {
		margin: 12px 0 ;
	}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;

		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}

	.visible_max_screen {
		display: none;
	}
}
@media screen and (min-width:1450px) and (max-width: 1660px) {  

    .right_side {	
        margin: 0 70px 0 80px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
	
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				
				width: 100%;
				.container_form {
					display: flex;
					font-weight: bolder;
					margin: 0px .5% 0 1%;
					width: 30%;
				}
			}
			
				.ecole {
					margin-left: -5px;
					width: 60%;
				}
					.societe {
						margin:0 0 10px ;

						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;

						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;

					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 0px;
					}
	.recommandation_sous_titre {
		margin: 12px 0 ;
	}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;

		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}

	.visible_max_screen {
		display: none;
	}
}
@media screen and (min-width:1230px) and (max-width: 1450px) {  
    .right_side {	
        margin: 0 65px 0 65px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
	
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				
				width: 100%;
				.container_form {
					display: flex;
					font-weight: bolder;
					margin: 0px .5% 0 1%;
					width: 41.5%;
				}
			}
			
				.ecole {
					margin-left: -5px;
					width: 65%;
				}
					.societe {
						margin:0 0 10px ;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 0px;
					}

	.container_recommandations {

		.recommandations_boss {
			margin-right: 2%;
		}	
		.recommandations_boss_last {
			margin: 0;
		}
		.recommandation_sous_titre {
			margin: 12px 0 ;
		}	
		.recommandation_info {
			margin: 6px 0;
		}
			.info_bold {
				font-weight: bold;
			}
			.recommandation_info_mail {
				margin: -5px 0 0;
			}
	}

	.visible_max_screen {
		display: none;
	}
}
@media screen and (min-width:1000px) and (max-width: 1230px) {  
    .right_side {	
        margin: 0 5%;
		width:85%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 2% 0;
		}
		
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				
				width: 100%;
				.container_form {
					display: flex;
					
					font-weight: bolder;
					margin: 0px 1% 0 1%;
					width: 40%;
				}
				
			}
				
				.ecole {
					margin-left: -5px;
					width: 55%;
				}
					.societe {
						margin:0 0 10px ;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 0px;
					}
	.container_recommandations {
		
		.recommandations_boss {
			margin-right: 2%;
		}	
		.recommandations_boss_last {
			margin: 0;
		}
			.recommandation_sous_titre {
				margin: 12px 0 ;
			}	
			.recommandation_info {
				margin: 6px 0;
			}
				.info_bold {
					font-weight: bold;
				}
				.recommandation_info_mail {
					margin: -5px 0 0;
				}
			}
	
	.visible_max_screen {
		display: none;
	}
}
@media all and (max-width: 1000px) {
 

    .right_side {	
		margin: 0 4%;
		
	}
		.titre_section {
			text-transform: uppercase;
			margin: 0px 0 15px 0;
			
		}
	.block {
		margin: 45px 0;
		
	}
		.formation {
			width: 80%;
			
			
			.container_form {
				display: flex;
				font-weight: bolder;
				margin: 0 0 20px;
				width: 90%;
			}
			.formation_date {
				margin: 0 0 0 1.5%;

			}
		}
			.societe {
				margin: 0 0 10px ;
				
				text-transform: uppercase;
			}
			.poste {
				margin: 0;
				text-transform: uppercase;
				
				text-decoration: none;
				font-weight: bolder;
			}
			.fonction {
				margin: 10px 0 50px 0;
				
				
			}
			.fonction_bis {
				margin: 10px 0 0;
				
			}
			.hide-sm {
				display: none;
			}
			
		.formation_experience {
			width: 80%;
		}
	.container_recommandations {
		
		.recommandations_boss {
			margin-right: 2%;
			
		}	
		.recommandations_boss_last {
			margin-right: 20%;
		}
			.recommandation_info {
				margin: -5px 0 18px;
				
			}
				.info_bold {
					font-weight: bold;
					
				}
				.recommandation_info_mail {
					margin: -5px 0 0;
				}
	}
	
}
