.block header {
	border-bottom: 3px solid #2874A6;
	margin: 0 0 70px;

}
.container_recommandations {
	display: flex;
    justify-content: space-between;
    
    
}
.formation_date {
	margin: 0;
}


@media all and (min-width:1870px) {  
	h2 {
		font-size: 40px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
        margin: 0 80px 0 100px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;

		}
	
		.block {
			margin: 70px 0 80px;
		}
			.formation {
				display: flex;
				
				width: 100%;
			
				.container_form {
					display: flex;
					font-weight: bolder;
					margin: 0px 3% 0 1%;
					width: 20%;
				
				}
			}
				
				
				.ecole {
					margin-left: -5px;
					width: 70%;
				
					.societe {
						margin:0 0 10px ;
						font-size: 25.5px;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						font-size: 22px;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
						font-size: 20px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 0px;
					}
				}

	.container_recommandations {
		margin: 35px 20% 20px 0;;
	}
	.recommandation_sous_titre {
	margin: 12px 0 ;
	}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;
			font-size: 22px;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.visible_max_screen {
		display: none;
	}
}

@media screen and (min-width:1660px) and (max-width: 1870px) {  
	h2 {
		font-size: 40px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
        margin: 0 70px 0 80px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				
				width: 100%;
				.container_form {
					display: flex;
					font-weight: bolder;
					margin: 0px .5% 0 1%;
					width: 25%;
				}
			}
				.ecole {
					margin-left: -5px;
					width: 70%;
				}
					.societe {
						margin:0 0 10px ;
						font-size: 25.5px;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						font-size: 22px;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
						font-size: 20px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 0px;
					}
	.container_recommandations {
		margin: 35px 18% 20px 0;;
	}
	.recommandation_sous_titre {
		margin: 12px 0 ;
	}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;
			font-size: 22px;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.visible_max_screen {
		display: none;
	}
}
@media screen and (min-width:1450px) and (max-width: 1660px) {  
	h2 {
		font-size: 40px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
        margin: 0 70px 0 80px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
	
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				
				width: 100%;
				.container_form {
					display: flex;
					font-weight: bolder;
					margin: 0px .5% 0 1%;
					width: 28%;
				}
			}
			
				.ecole {
					margin-left: -5px;
					width: 60%;
				}
					.societe {
						margin:0 0 10px ;
						font-size: 25.5px;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						font-size: 22px;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
						font-size: 20px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 0px;
					}

	.container_recommandations {
		margin: 35px 13% 20px 0;;
	}
	.recommandation_sous_titre {
		margin: 12px 0 ;
	}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;
			font-size: 22px;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.visible_max_screen {
		display: none;
	}
}
@media screen and (min-width:1230px) and (max-width: 1450px) {  
	h2 {
		font-size: 35px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
        margin: 0 65px 0 65px;
        width:100%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
		}
	
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				
				width: 100%;
				.container_form {
					display: flex;
					font-weight: bolder;
					margin: 0px .5% 0 1%;
					width: 33%;
				}
			}
			
				.ecole {
					margin-left: -5px;
					width: 65%;
				}
					.societe {
						margin:0 0 10px ;
						font-size: 25.5px;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						font-size: 22px;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
						font-size: 20px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 0px;
					}

	.container_recommandations {
		margin: 35px 10% 20px 0;;
	}
	.recommandation_sous_titre {
		margin: 12px 0 ;
	}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;
			font-size: 20px;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.visible_max_screen {
		display: none;
	}
}
@media screen and (min-width:1000px) and (max-width: 1230px) {  
	h2 {
		font-size: 30px;
	}
	p{
		font-size: 20px;
	}
    .right_side {	
        margin: 0 50px 0 50px;
		width:85%;
	}
		.titre_section {
			text-transform: uppercase;
			margin:0px 0 10px 0;
			
			
		}
		
		.block {
			margin: 80px 0 35px;
		}
			.formation {
				display: flex;
				
				width: 100%;
				.container_form {
					display: flex;
					
					font-weight: bolder;
					margin: 0px 1% 0 1%;
					width: 40%;
					.formation_date {
						font-size: 1.2rem;
					}
				}
				
			}
				
				.ecole {
					margin-left: -5px;
					width: 55%;
				}
					.societe {
						margin:0 0 10px ;
						font-size: 25.5px;
						text-transform: uppercase;
					}
					.poste {
						margin: 0;
						text-transform: uppercase;
						font-size: 22px;
						text-decoration: none;
						font-weight: bolder;
					}
					.fonction {
						margin: 8px 0 50px;
						font-size: 20px;
					}
					.fonction_bis, .fontion_exp_bis {
						margin: 8px 0 0px;
					}

	.container_recommandations {
		margin: 35px 8% 20px 0;;
	}
	.recommandation_sous_titre {
		margin: 12px 0 ;
	}	
	.recommandation_info {
		margin: 6px 0;
	}
		.info_bold {
			font-weight: bold;
			font-size: 20px;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
	.visible_max_screen {
		display: none;
	}
}
@media all and (max-width: 1000px) {
 

    .right_side {	
		margin: 0 4%;
	}
		.titre_section {
			text-transform: uppercase;
			margin: 0px 0 15px 0;
			font-size: $seize-h2;
			
		}
	.block {
		margin: 45px 0;
		
	}
		.formation {
			width: 80%;
			margin: 0 0 0 5%;
			.container_form {
				display: flex;
				font-weight: bolder;
				margin: 0 0 20px;
				width: 40%;
				font-size: $seize-p -5px;
			}
			p { 
				font-size: $seize-p;
			}
			h3 {
				font-size: $seize-h3;
			}
		}
	
			.societe {
				margin: 0 0 10px ;
				
				text-transform: uppercase;
			}
			.poste {
				margin: 0;
				text-transform: uppercase;
				
				text-decoration: none;
				font-weight: bolder;
			}
			.fonction {
				margin: 10px 0 50px 0;
				
				
			}
			.fonction_bis {
				margin: 10px 0 0;
				
			}
			
			
		.formation_last {
			margin: 0 5%;
			p {
				font-size: $seize-p;
			}
			h3 {
				font-size: $seize-h3;
			}
		}
		.formation_experience {
			width: 80%;
			margin: 0 0 20px 4%;
			p {
				font-size: $seize-p
			}
			h3 {
				font-size: $seize-h3 ;
			}
		}
		.formation_experience_last {
			margin: 0 4%;
		}
	.container_recommandations {
		margin: 35px 5% 20px 0;
		font-size: $seize-p;
	}
	.recommandation_info {
		margin: -5px 0 18px;
	}
		.info_bold {
			font-weight: bold;
		}
		.recommandation_info_mail {
			margin: -5px 0 0;
		}
	.fa-circle, .fa-dot-circle {
		width: 25.84px ;
	}
}
