
$size-xs: 1.85em;
$size-h2: 1.8em;
$size-general: 1.3em;
$size-p_h3: 1em;

$color-primary: #2874A6;
$color-secondary: #AED6F1;

$reco-margin_boss_M: 2%;
$reco-margin_boss_last_M: 0;

@mixin flex {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    
}